.window {
  &-container {
    width: 100%;
    margin: 1.6rem 0;
    background-color: #394264;
    border-radius: 0.5rem;
    &:not(:last-child) {
      margin: 1.6rem 1.6rem 1.6rem 0;
    }
    &__title {
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
      text-transform: uppercase;
      padding: 1.6rem 0;
    }
  }
}
