.container {
  display: flex;
  width: 100%;
  & > :first-child {
    width: 90rem;
  }
}

.cities {
  width: 80rem;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  min-height: 60vh;
}

.city {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10rem;
  font-size: 1.4rem;
  line-height: 2rem;
  & > *:not(:last-child) {
    margin-right: 0.8rem;
  }
  &:hover {
    background-color: #5d6890;
  }
}
.cityName {
  width: 60%;
}
